html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", Tahoma, Geneva, sans-serif;
  color: black;
  line-height: 26px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 1280px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
  width: 1200px;
  margin: 0 auto;
}

.header-logo {
  min-height: 70px;
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  font-size: 0;
}

.menu-item {
  min-height: 56px;
  width: 240px;
  float: left;
  padding-top: 16px;
  background-color: #fff;
}

.menu-item:nth-child(2) {
  margin-right: 240px;
}

.menu-item a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-item-active a,
.menu-item-active a:hover,
.menu-item-active a:active {
  color: #766357;
}

.clearfix::after {
  clear: both;
  display: table;
  content: "";
}

.banner {
  padding-top: 76px;
  position: relative;
  background: #a1b7c9 url("../img/background-big.jpg") no-repeat center -56px;
}

.banner::after {
  display: block;
  content: "";
  position: absolute;
  background: url("../img/background-shape.png") no-repeat left 451px;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
}

.banner-picture {
  width: 458px;
  height: 352px;
  margin: 0 auto 80px;
}

.banner-title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 52px;
  background: #fff;
}

.heading-small {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.banner-title-subtitle {
  padding-top: 26px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
}

.filters {
  background: #a1b7c9 url("../img/filter-background.png") no-repeat center -56px;
}

.features-item {
  width: 400px;
  font-weight: normal;
}

.features-item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  max-width: 164px;
  margin: 0 auto;
  padding-top: 53px;
}

.features-item-light .features-item-title {
  padding-top: 25px;
  max-width: 150px;
}

.features-row:nth-child(4) .features-item-title {
  padding-top: 0;
}

.features-item-index {
  padding-top: 6px;
}

.features-item-description {
  max-width: 301px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}

.features-item-light .features-item-description {
  padding-top: 22px;
}

.features-item-last .features-item-description {
  max-width: 305px;
  margin: 0 auto;
}

.features-row:nth-child(4) .features-item-description {
  padding-top: 6px;
}

.features-item-img {
  width: 800px;
  display: block;
}

.features-item-dark {
  min-height: 255px;
  background: #81b3d2;
  color: #fff;
}

.features-item {
  float: left;
}

.features-item-last {
  float: right;
}

.features-row:nth-child(2) {
  padding-top: 60px;
  padding-bottom: 84px;
  background: white;
}

.features-row h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-icon {
  margin: 0 auto;
  min-height: 75px;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
}

.features-icon-house {
  background-image: url("../img/icon-house.png");
  width: 75px;
  height: 72px;
  left: -1px;
}

.features-icon-food {
  background-image: url("../img/icon-burger.png");
  width: 74px;
  height: 69px;
  left: -1px;
  top: 1px;
}

.features-icon-gift {
  background-image: url("../img/icon-gift.png");
  width: 63px;
  height: 75px;
  top: -4px;
  left: -1px;
}

.features-row:nth-child(4) {
  padding-top: 47px;
  padding-bottom: 58px;
  background-color: #eee;
}

.booking-search {
  position: relative;
  max-width: 568px;
  margin: 0 auto;
}

.booking-intro {
  padding-top: 58px;
  padding-bottom: 136px;
  background: white;
}

.booking-intro h2 {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

.booking-intro p {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  padding-top: 30px;
  font-weight: normal;
  max-width: 440px;
}

.booking-btn {
  width: 568px;
  height: 86px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  background: #766357;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
}

.booking-form {
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  padding: 0 55px 55px;
  position: absolute;
  top: 0;
  background: #fff;
}

.search-form-item {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  text-align: left;
}

.search-form-item label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 14px;
}

.search-form-item:first-child {
  margin-top: 55px;
}

.search-form-item:nth-child(2) {
  margin-top: 29px;
}

.search-form-item-age {
  margin-top: 30px;
  text-align: left;
  font-size: 0;
}

.search-form-item-age label {
  width: 106px;
}

.search-form-kids {
  padding-left: 48px;
}

.search-form-item input[type="text"] {
  width: 346px;
  height: 38px;
  padding-left: 12px;
  border: 0;
  background: #f2f2f2;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.search-form-item input[type="text"]:hover {
  background: #ebebeb;
}

.search-form-item input[type="text"]:focus {
  border: 2px solid #e5e5e5;
  background: white;
}

.numeric-input-dec,
.numeric-input-inc {
  width: 38px;
  height: 38px;
  font-size: 0;
  background: #f2f2f2 url("../img/inc-dec.png") no-repeat;
  border: 0;
  vertical-align: bottom;
}

.numeric-input-dec {
  background-position: -7px -30px;
}

.numeric-input-dec:hover {
  background-position: -7px -7px;
}

.numeric-input-dec:active {
  background-position: -7px 16px;
}

.numeric-input-inc {
  background-position: -7px -117px;
}

.numeric-input-inc:hover {
  background-position: -7px -117px;
}

.numeric-input-inc:active {
  background-position: -7px -117px;
}

.numeric-input-value {
  width: 38px;
  height: 38px;
  border: 0;
  background: #f2f2f2;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  padding: 0;
  text-align: center;
}

.numeric-input-value:hover {
  background: #ebebeb;
}

.numeric-input-value:focus {
  border: 2px solid #e5e5e5;
  background: white;
}

.calender-button {
  font-size: 0;
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/calendars.png") no-repeat -5px -54px;
  border: 0;
}

.calender-button:hover {
  font-size: 0;
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/calendars.png") no-repeat -5px -27px;
  border: 0;
}

.calender-button:active {
  font-size: 0;
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/calendars.png") no-repeat -5px 0;
  border: 0;
}

.booking-form input[type="submit"] {
  width: 458px;
  height: 58px;
  border: 0;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #81b3d2;
  margin-top: 54px;
}

.booking-form input[type="submit"]:hover {
  background: #669ec0;
}

.booking-form input[type="submit"]:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  max-height: 474px;
}

.main-footer {
  padding: 18px 0;
  background: #fff;
  position: relative;
  opacity: 0.9;
}

.footer-hashtag {
  margin-left: 132px;
  margin-right: 255px;
  min-height: 84px;
  float: left;
  width: 136px;
  padding-top: 30px;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  margin-right: 212px;
  min-height: 84px;
  float: left;
  width: 150px;
  font-size: 0;
  padding-top: 18px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  vertical-align: top;
  text-decoration: none;
}

.social-btn-tw {
  background: #81b3d2 url("../img/icon-twitter.png") no-repeat center;
}

.social-btn-fb {
  background: #81b3d2 url("../img/icon-facebook.png") no-repeat center 13px;
}

.social-btn-yt {
  background: #81b3d2 url("../img/icon-youtube.png") no-repeat center;
}

.social-btn-tw:hover {
  background: #669ec0 url("../img/icon-twitter.png") no-repeat center;
}

.social-btn-fb:hover {
  background: #669ec0 url("../img/icon-facebook.png") no-repeat center 13px;
}

.social-btn-yt:hover {
  background: #669ec0 url("../img/icon-youtube.png") no-repeat center;
}

.social-btn-tw:active {
  background: #5496bd url("../img/icon-twitter-fade.png") no-repeat center;
}

.social-btn-fb:active {
  background: #5496bd url("../img/icon-facebook-fade.png") no-repeat center 13px;
}

.social-btn-yt:active {
  background: #5496bd url("../img/icon-youtube-fade.png") no-repeat center;
}

.social-btn:first-child {
  margin-left: 0;
}

.social-btn:last-child {
  margin-right: 0;
}

.footer-copyright {
  min-height: 84px;
  width: 241px;
  float: right;
  margin-right: 73px;
  padding-top: 23px;
  position: relative;
  left: -6px;
}

.footer-copyright p {
  width: 74px;
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  padding-top: 0;
}

.copyright-btn {
  background: url("../img/footer-logo-academy.png");
  width: 113px;
  height: 39px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.copyright-btn:hover {
  background: url("../img/footer-logo-academy-hover.png");
}

.copyright-btn:active {
  background: url("../img/footer-logo-academy-active.png");
}

.filters {
  margin: 0;
  padding: 0;
  color: white;
}

.checkboxed-filter {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 2px 0 5px;
  padding: 0;
  display: block;
}

.filters-form {
  padding-top: 25px;
  padding-bottom: 12px;
  text-align: left;
}

.filters-form label {
  display: block;
}

.form-item {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 21px 0;
}

.filters-form-field {
  border: 0;
  margin: 0;
  width: 25px;
}

.sort-buttons {
  float: right;
  margin: 0 73px 0 0;
  padding: 0;
  position: relative;
}

.btn-sort-asc {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px;
  border-color: transparent transparent #81b3d2;
  font-size: 0;
  position: absolute;
  top: 5px;
  right: 21px;
}

.btn-sort-desc {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0;
  border-color: #81b3d2 transparent transparent;
  font-size: 0;
  position: absolute;
  top: 5px;
  right: 0;
}

.btn-sort-desc.btn-checked {
  border-top-color: #ccc;
}

.btn-sort-asc.btn-checked {
  border-bottom-color: #ccc;
}

.btn-sort-desc:hover,
.btn-sort-desc.btn-checked:hover {
  border-top-color: black;
}

.btn-sort-asc:hover,
.btn-sort-asc.btn-checked:hover {
  border-bottom-color: black;
}

.btn-sort-desc:active,
.btn-sort-desc.btn-checked:active {
  border-top-color: #81b3d2;
}

.btn-sort-asc:active,
.btn-sort-asc.btn-checked:active {
  border-bottom-color: #81b3d2;
}

.filters-form-infrastructure {
  margin: 0 0 0 72px;
  min-height: 155px;
  width: 240px;
  float: left;
  padding: 0;
}

.filters-form-type {
  min-height: 155px;
  width: 288px;
  float: left;
  margin-left: 15px;
  padding: 0;
}

.form-item-name {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.form-item input[type="checkbox"] {
  display: none;
}

.form-item input[type="checkbox"] + .checkbox-indicator {
  content: "";
  display: inline-block;
  width: 26px;
  height: 22px;
  background: url("../img/checkboxes.png") -30px -24px;
  cursor: pointer;
  vertical-align: middle;
}

.form-item input[type="checkbox"]:checked + .checkbox-indicator {
  background-position: -30px 0;
}

.form-item input[type="checkbox"]:disabled + .checkbox-indicator {
  background-position: -2px -24px;
}

.form-item input[type="checkbox"]:disabled:checked + .checkbox-indicator {
  background-position: -2px 0;
}

.filter-range {
  float: right;
  margin-right: 75px;
  color: #fff;
  padding: 0;
}

.filter-range-title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  width: 318px;
  height: 36px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
  width: 155px;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  padding-top: 6px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  padding-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 10px;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}

.offers {
  margin: 0;
  padding: 0;
}

.offers-sort {
  padding-top: 32px;
  min-height: 87px;
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;
}

.offers-sort h2 {
  margin: 0 0 0 72px;
  padding: 0;
  float: left;
}

.offers-sort-options {
  float: left;
  margin: 0;
  padding: 0;
}

.offers-sort-options p {
  display: inline-block;
  margin: 0;
  padding: 2px 0 0 46px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.offers-sort-option {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #e0e0e0;
  border-bottom: 1px dotted #bfd9e8;
  margin-left: 33px;
}

.offers-sort-option:hover {
  color: #81b3d2;
}

.offers-sort-option:active {
  color: #000;
  border-bottom: 0;
}

.offers-sort-option-active {
  border-bottom: 0;
  color: #bfd9e8;
}

.offer-item {
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.offer-item img {
  float: left;
  padding-top: 28px;
  margin-left: 72px;
  vertical-align: top;
}

.offer-item-specifics {
  float: left;
  padding: 0 0 0 30px;
  text-align: left;
}

.offer-item-title {
  font-size: 21px;
  line-height: 26px;
  padding-top: 24px;
  margin: 0;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  color: black;
}

.offer-item-title:hover {
  color: #81b3d2;
}

.offer-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.offer-item-ratings {
  float: right;
}

.offer-item-ratings ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.offer-item-type {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 110px;
  margin: 0;
  padding: 4px 0 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333;
}

.offer-item-price {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333;
  text-align: left;
}

.btn {
  color: white;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 14px 0 0;
  padding-top: 4px;
}

.btn-primary {
  background: #81b3d2;
  width: 110px;
  height: 27px;
  margin-right: 6px;
}

.btn-primary:hover {
  background: #669ec0;
}

.btn-primary:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-secondary {
  background: #766357;
  width: 142px;
  height: 27px;
}

.btn-secondary:hover {
  background: #604e43;
}

.btn-secondary:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating-stars {
  margin: 26px 0 47px 0;
  display: block;
  width: 110px;
  height: 17px;
  font-size: 0;
}

.rating-star {
  background: url("../img/star.png") no-repeat top right;
  padding: 0;
  margin-left: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
}

.hidden {
  visibility: hidden;
}

.user-rating {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 110px;
  height: 27px;
  background: #f2f2f2;
  color: #666;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-top: 4px;
  margin-right: 73px;
}
